.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container .login {
  width: 500px;
  height: 500px;
  border: 2.5px solid steelblue;
}

.login .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  
  & h1 {
    -webkit-text-stroke: 1.5px steelblue;
    font-size: 50px;
    color: white;
  }
}

.login .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 35vh;
}

.form .container_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & label {
    align-self: flex-start;
  }
}

.form .check {
  margin: 5px 0;
}

.form #button {
  width: 250px;
  height: 35px;
  border: none;
  background-color: steelblue;
  border-radius: 7px;
  margin: 5px 0 10px;
  font-size: 18px;
  color: white;
}

.container_input .input {
  width: 250px;
  height: 35px;
  border: 1.5px solid steelblue;
  background-color: white;
  border-radius: 7px;
  margin: 5.5px 0;
  padding: 5px;
}