.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .login {
  width: 500px;
  height: 500px;
  border: 5px solid #5350C1;
  border-radius: 10px;
}

.login .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  
  & h1 {
    -webkit-text-stroke: 1.5px #5350C1;
    font-size: 50px;
    color: white;
  }
}

.login .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
}

.form .container_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & label {
    align-self: flex-start;
  }
}

.form .container_check {
  display: flex;
  gap: 15px;
  margin: 5px 0 15px;
}

.form #button {
  width: 250px;
  height: 35px;
  border: none;
  background-color: #5350C1;
  border-radius: 7px;
  margin: 5px 0 15px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

#button:hover {
  background-color: #d5d5e9;
  color: #5350C1;
  border: 3px solid #5350C1;
}

.form .register {
  display: flex;
  gap: 15px;

  & a {
    color: blue;
  }
}

.container_input .input {
  width: 250px;
  height: 35px;
  border: 1.5px solid #5350C1;
  background-color: white;
  border-radius: 7px;
  margin: 5.5px 0;
  padding: 7px;
}

#nome {
  color: #5350C1;
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 50px;
}